.catalog {
    background-color: rgb(222, 244, 255);
    background-image: url('https://imgs.search.brave.com/sRfM_JZCIRnb24k6uUvKqldZXT-QrqqugDq9lAbD-kI/rs:fit:1200:1126:1/g:ce/aHR0cDovL3dhbGxw/YXBlcmNhdmUuY29t/L3dwLzQyZGhIS04u/anBn');
    background-repeat:repeat;
    background-size: cover;
    min-height: 96vh;
}

.catalog h1 {
    color: rgb(255, 183, 2);
    font-size: 45px;
    font-style: oblique;
    font-family: fantasy;
    text-transform: uppercase;
    text-shadow: 0.5px 1px 0px black;
    letter-spacing: 10px;
}

.catalog h5 {
    color: white;
}

.catalog .btn-filter {
    margin: 20px;
}
