
.product {
    border: 1px solid #6a6a6a;
    border-radius: 5px;
    display: inline-block;
    width:280px;
    height: 320px;
    margin: 5px 7px;
    background-color:white;
    padding: 2px;
}

.product:hover {
    border-color:orangered;
}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}