.footer {
  background-color: aliceblue;
  height: 40px;
}

.footer label {
  color: rgb(255, 183, 2);
  font-size: 30px;
  font-style: oblique;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0.5px 1px 0px black;
}
