
.product {
    border: 1px solid #6a6a6a;
    border-radius: 3px;
    display: inline-block;
    width:230px;
    height: 405px;
    margin: 5px 5px;
    background-color:white;
    padding: 2px;
    vertical-align: top;
    box-shadow: 2px 1px 0 0 grey;
}

.product:hover {
    border: 2px solid orangered;
}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}

.product img {
    width: 224px;
    height: 235px;
}
